{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container py-5 page">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{% if message.tags == 'info' %}primary
            {% elif message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-white">Edit Portfolio</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title" class="">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ form.instance.title }}" placeholder="Add title">
                </div>
                <div class="form-group">
                    <label for="short_description">Short Description</label>
                    <textarea class="form-control" id="short_description" name="short_description" placeholder="Add short_description">{{ form.instance.short_description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="images">Images</label>
                    <input type="text" class="form-control" id="images" name="images" value="{{ form.instance.images }}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="Add description">{{ form.instance.description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="technologies">Technologies</label>
                    <input type="text" class="form-control" id="technologies" name="technologies" value="{{ form.instance.technologies }}">
                </div>
                <div class="form-group">
                    <label for="resources">Resources</label>
                    <input type="text" class="form-control" id="resources" name="resources" value="{{ form.instance.resources }}">
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <input type="text" data-role="tagsinput" class="form-control" name="tags" value="{% for tag in form.instance.tags.all %}{{ tag }},{% endfor %}" hidden>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}