{% extends "base.html" %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'portfolio/card_hover.css' %}">
{% endblock style %}

{% block content %}
<div class="page">
    <div class="container py-5">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{% if message.tags == 'info' %}primary
                {% elif message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="row text-left text-white">
            <h1>My portfolios</h1>
        </div>
        <div class="row description py-2">
            <h5 class="lh-base">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id reprehenderit dolorum rem obcaecati nihil non, iste eligendi alias asperiores? Porro ea laborum eius delectus voluptatum. Assumenda asperiores eaque suscipit tempora!</h5>
        </div>
        <div class="row">
            {% for portfolio in portfolios %}
            <div class="col-xxl-6 col-md-12">
                <div class="card bg-dark text-white my-2">
                    {% with portfolio.images|split:"," as images %}
                        <img src="{{ images|first }}" class="card-img" alt="...">
                    {% endwith %}
                    <div class="card-img-overlay card-body info d-flex flex-column">
                        <h5 class="card-title">{{portfolio.title}}</h5>
                        <p class="card-text d-none d-sm-block">{{portfolio.short_description}}</p>
                        <div>
                            {% for tag in portfolio.tags.all %}
                                <a href="{% url 'tagged' tag.slug %}" class="badge rounded-pill bg-secondary">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <div class="mt-auto text-end d-none d-md-block">
                            <a href="{% url 'portfolio_detail' portfolio.slug %}" class="btn btn-primary">Read More</a>
                        </div>
                        <div class="d-block d-md-none">
                            <a href="{% url 'portfolio_detail' portfolio.slug %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}