.parent{
    min-height: 100vh;
}

.typing span{
    color: rgb(65, 228, 174);
}

@media screen and (min-width: 768px){
    .padding-x-10-percent{
        padding-left: 15%;
        padding-right: 10%;
    }
}